<div class="range">
  <label for="camera-tilt-set_degrees" class="form-label">Tilt</label>
  <input type="range" class="form-range" min="80" max="180" step="3" value="90" id="camera-tilt-set_degrees" />
</div>
<script>
camera_tilt_set_degrees_range = $("#camera-tilt-set_degrees");
function camera_tilt_set_degrees (degrees, set_range) {
  $.ajax({
    url: "http://10.0.0.59:5000/call/camera-tilt/set_degrees?degrees=int:" + degrees,
    type: "GET"
  });
  if (set_range) {
    camera_tilt_set_degrees_range[0].value = degrees;
  }
}
camera_tilt_set_degrees_range.on("input", function () {
  camera_tilt_set_degrees(camera_tilt_set_degrees_range[0].value, false);
});
window.addEventListener("keydown", (event) => {
  const current_degrees = parseInt(camera_tilt_set_degrees_range[0].value);
  switch (event.key) {
    case "d":
      camera_tilt_set_degrees(current_degrees - 3, true);
      break;
    case "e":
      camera_tilt_set_degrees(current_degrees + 3, true);
      break;
    case "r":
      camera_tilt_set_degrees(90, true);
      break;
  }
  event.preventDefault();
}, true);
</script>
