<div style="text-align: center">
  <img alt="camera-capture_image" id="camera-capture_image" width="160" src="" />
</div>
<script>
async function capture_camera_capture_image() {
  while (!$("#car-1-start-stop").is(":checked")) {
    await new Promise(r => setTimeout(r, 1000));
  }
  $.ajax({
    url: "http://10.0.0.59:5000/call/camera/capture_image",
    type: "GET",
    success: async function (return_value) {
      document.getElementById("camera-capture_image").src = "data:image/jpg;base64," + return_value;
      await capture_camera_capture_image();
    },
    error: async function(xhr, error){
      console.log(error);
      await capture_camera_capture_image();
    }
  });
}
capture_camera_capture_image();
</script>
