<div class="range">
  <label for="car-1-set_speed" class="form-label"></label>
  <input type="range" orient="vertical" class="form-range" min="-50" max="50" step="1" id="car-1-set_speed" />
</div>
<script>
$("#car-1-set_speed").on("input", function () {
  $.ajax({
    url: "http://10.0.0.59:5000/call/car-1/set_speed?speed=int:" + $("#car-1-set_speed")[0].value,
    type: "GET"
  });
});
$("#car-1-set_speed").on("touchend", function () {
  $.ajax({
    url: "http://10.0.0.59:5000/call/car-1/set_speed?speed=int:0",
    type: "GET"
  });
  $("#car-1-set_speed")[0].value = 0;
});
</script>
