<div class="range">
  <label for="car-1-set_speed_differential" class="form-label"></label>
  <input type="range" orient="vertical" class="form-range" min="-40" max="40" step="1" id="car-1-set_speed_differential" />
</div>
<script>
$("#car-1-set_speed_differential").on("input", function () {
  $.ajax({
    url: "http://10.0.0.59:5000/call/car-1/set_speed_differential?differential_factor=int:" + $("#car-1-set_speed_differential")[0].value,
    type: "GET"
  });
});
$("#car-1-set_speed_differential").on("touchend", function () {
  $.ajax({
    url: "http://10.0.0.59:5000/call/car-1/set_speed_differential?differential_factor=int:0",
    type: "GET"
  });
  $("#car-1-set_speed_differential")[0].value = 0;
});
</script>
