<div>
  <label id="range_finder-measure_distance_once">Range:  null</label>
</div>
<script>
async function read_value_range_finder_measure_distance_once() {
  while (!$("#car-1-start-stop").is(":checked")) {
    await new Promise(r => setTimeout(r, 1000));
  }
  $.ajax({
    url: "http://10.0.0.59:5000/call/range_finder/measure_distance_once",
    type: "GET",
    success: async function (return_value) {
      document.getElementById("range_finder-measure_distance_once").innerHTML = "Range:  " + return_value;
      await new Promise(r => setTimeout(r, 1000.0));
      read_value_range_finder_measure_distance_once();
    },
    error: async function(xhr, error){
      console.log(error);
      document.getElementById("range_finder-measure_distance_once").innerHTML = "Range:  null";
      await new Promise(r => setTimeout(r, 1000.0));
      read_value_range_finder_measure_distance_once();
    }
  });
}
read_value_range_finder_measure_distance_once();
</script>
