<div class="form-check form-switch">
  <label class="form-check-label" for="motor-1-start-stop">motor-1 on/off</label>
  <input class="form-check-input" type="checkbox" role="switch" id="motor-1-start-stop" />
</div>
<div class="range">
  <label for="motor-1-speed" class="form-label">motor-1 speed</label>
  <input type="range" class="form-range" min="-100" max="100" step="1" id="motor-1-speed" />
</div>
<script>
$("#motor-1-start-stop").on("change", function () {
  $.ajax({
    url: $("#motor-1-start-stop").is(":checked") ? "http://10.0.0.59:5000/call/motor-1/start" : "http://10.0.0.59:5000/call/motor-1/stop",
    type: "GET"
  });
});
$("#motor-1-speed").on("input", function () {
  $.ajax({
    url: "http://10.0.0.59:5000/call/motor-1/set_speed?speed=int:" + $("#motor-1-speed")[0].value,
    type: "GET"
  });
});
</script>
