<div class="range">
  <label for="camera-multiply_resolution" class="form-label">Display Resolution</label>
  <input type="range" class="form-range" min="1" max="5" step="1" value="1" id="camera-multiply_resolution" />
</div>
<script>
camera_multiply_resolution_element = $("#camera-multiply_resolution");
camera_multiply_resolution_range = camera_multiply_resolution_element[0];
function camera_multiply_resolution (factor, set_range) {
  if (factor < 1 || factor > 5) {
    return;
  }
  $.ajax({
    url: "http://10.0.0.59:5000/call/camera/multiply_resolution?factor=int:" + factor,
    type: "GET"
  });
  if (set_range) {
    camera_multiply_resolution_range.value = factor;
  }
}
camera_multiply_resolution_element.on("input", function () {
  camera_multiply_resolution(camera_multiply_resolution_range.value, false);
});
</script>
