<div>
  <label id="thermistor-1-get_temperature_f">get_temperature_f:  null</label>
</div>
<script>
function read_value_thermistor_1_get_temperature_f() {
  $.ajax({
    url: "http://10.0.0.59:5000/call/thermistor-1/get_temperature_f",
    type: "GET",
    success: async function (return_value) {
      document.getElementById("thermistor-1-get_temperature_f").innerHTML = "get_temperature_f:  " + return_value;
      await new Promise(r => setTimeout(r, 1000.0));
      read_value_thermistor_1_get_temperature_f();
    },
    error: async function(xhr, error){
      document.getElementById("thermistor-1-get_temperature_f").innerHTML = "get_temperature_f:  null";
      await new Promise(r => setTimeout(r, 1000.0));
      read_value_thermistor_1_get_temperature_f();
    }
  });
}
read_value_thermistor_1_get_temperature_f();
</script>
