<div>
  <label id="ultrasonic_range_finder-1-measure_distance_once">measure_distance_once:  N/A</label>
</div>
<script>
function read_value_ultrasonic_range_finder_1_measure_distance_once() {
  $.ajax({
    url: "http://10.0.0.59:5000/call/ultrasonic_range_finder-1/measure_distance_once",
    type: "GET",
    success: async function (return_value) {
      document.getElementById("ultrasonic_range_finder-1-measure_distance_once").innerHTML = "measure_distance_once:  " + return_value;
      await new Promise(r => setTimeout(r, 1000.0));
      read_value_ultrasonic_range_finder_1_measure_distance_once();
    },
    error: async function(xhr, error){
      await new Promise(r => setTimeout(r, 1000.0));
      read_value_ultrasonic_range_finder_1_measure_distance_once();
    }
  });
}
read_value_ultrasonic_range_finder_1_measure_distance_once();
</script>
