.rpy-div {
  border: 2px solid lightgray;
  padding: 1rem;
  margin: 1rem;
  border-radius:10px;
  background-color: aliceblue;
}

.rpy-parent * {
  padding: 0.25rem;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    margin: 10px
}