.rpy-div {
  border: 2px solid lightgray;
  padding: 1rem;
  margin: 1rem;
  border-radius:10px;
  background-color: aliceblue;
}

.rpy-margin * {
  margin: 0.5rem;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    margin: 10px
}

.switch-container {
  display: flex;
  align-items: center; /* Vertically centers the items */
}